
body.drawer-open::before {
  display: block;
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 1000%;
  background: rgba(0, 0, 0, .7);
  background: rgba(52, 53, 55, .4);
  content: "";
  cursor: pointer;
  transition: opacity .5s, visibility .5s;
}

.cart-popup {
  @apply fixed right-0 top-0 bottom-0 z-100 opacity-0 invisible bg-white shadow-lg transform translate-x-[100%] transition-all duration-200  w-[96%] md:w-[480px];
  &.active {
    @apply transition-all duration-500 opacity-100 visible ease-in-out transform translate-x-0;
  }

  .cart-popup--inner {
    @apply h-full;
  }

  .cart-popup-info {
    @apply h-full;
  }

  .cart-heading {
    @apply absolute z-10 my-4 mx-4 text-18 font-semibold;
  }

  .close-drawer {
    @apply absolute top-4 right-4 w-6 h-6 cursor-pointer;
  }

  .widget_shopping_cart {
    @apply flex overflow-x-hidden overflow-y-auto relative z-10 top-auto left-auto h-[calc(100vh-60px)] m-0 mt-[60px] py-0 px-4 bg-white;
  }

  .widget_shopping_cart_content {
    @apply flex flex-col w-full;
  }

  .widget_shopping_cart .product_list_widget {
    @apply flex-1 overflow-y-auto w-auto py-0 pl-0 pr-3  before:content-[''] before:block before:z-100 before:absolute before:-left-6 before:-right-6  before:border-t before:border-black/10;
  }

  .widget_shopping_cart li.mini_cart_item {
    @apply pl-8 pr-0 text-black text-13 leading-tight border-b border-black/10 py-4 relative;
  }

  li.mini_cart_item .variation {
    @apply flex items-center gap-2 mb-3;
  }

  li.mini_cart_item .variation dt {
    @apply hidden;
  }

  li.mini_cart_item .variation dd {
    @apply text-12 text-black/60 m-0 p-0;
  }

  li.mini_cart_item .variation dd p {
    @apply text-12 text-black/60 m-0 p-0;
  }


  .widget_shopping_cart li.mini_cart_item .remove_from_cart_button {
    @apply absolute top-2 left-0 text-18 text-red-600;
  }

  .widget_shopping_cart li.mini_cart_item .woocommerce-Price-amount {
    @apply text-13 font-bold;
  }

  .widget_shopping_cart li.mini_cart_item a {
    @apply block;
  }

  .widget_shopping_cart li.mini_cart_item img {
    @apply w-[80px] md:w-[80px] ml-2 block float-right;
  }

  .widget_shopping_cart li.mini_cart_item .zah-custom-quantity-mini-cart {
    @apply flex w-[80px] rounded-md border border-black/10 justify-between mt-2;
  }

  .widget_shopping_cart li.mini_cart_item .zah-custom-quantity-mini-cart .zah-custom-quantity-mini-cart_input {
    @apply w-[26px] text-center text-13;
  }

  .widget_shopping_cart li.mini_cart_item .zah-custom-quantity-mini-cart .zah-custom-quantity-mini-cart_button {
    @apply w-6 h-6 flex items-center justify-center;
    svg {
      @apply block w-4 h-4;
    }
  }

  .widget_shopping_cart .woocommerce-mini-cart__total {
    @apply flex justify-between items-center text-base border-t border-black/10 pt-4;
  }

  .widget_shopping_cart .woocommerce-mini-cart__buttons {
    @apply mb-6 flex flex-col-reverse gap-2;
    .button.wc-forward {
      @apply border-none py-1 font-semibold text-15 text-black/60;
    }

    .button.wc-forward.checkout {
      @apply border-inherit py-3 uppercase text-base font-bold text-white;
    }
  }

  .cart-info-items {
    @apply max-h-[calc(100vh-378px)] overflow-y-auto border-t border-black/10;
  }

  .cart-info-items.disabled {
    @apply opacity-40;
  }

  .cart-info-items .cart_item {
    @apply border-b border-black/10 px-0 py-4 flex items-start relative mx-4;
    &.loading-btn {
      @apply opacity-40;
    }
  }

  .cart-title {
    @apply text-14;
    a {
      @apply text-14 flex flex-col;

    }

    .options-title {
      @apply text-black/60 text-13 font-normal leading-3;
    }
  }

  .cart-info-items .cart_item .cart-thumbnail {
    @apply w-[80px] md:w-[92px] mr-2;
    img {
      @apply w-full max-w-full block;
    }
  }

  .cart-info-items .remove-product {
    @apply text-13 text-black/80 underline hover:text-main;
  }

  .product-cart-price {
    @apply mb-1;
    del {
      > .amount bdi {
        @apply text-black/60 no-underline text-14 font-normal;
      }
    }

    ins {
      @apply no-underline;
      > .amount bdi {
        @apply text-main no-underline text-14 font-semibold;
      }
    }

    .amount bdi {
      @apply text-black no-underline text-14 font-semibold;
    }

  }

  .product-quantity {
    .quantity input {
      @apply min-w-[28px] w-[28px] text-14;
    }
    .quantity-info {
      @apply flex justify-center items-center py-0.5 px-1 gap-0 bg-white border border-black/30 rounded-md relative max-w-[90px];
    }
    .plus, .minus {
      @apply text-center min-w-[24px] w-[24px] cursor-pointer hover:text-main hover:scale-95;
    }
  }

}//.cart-popup

.woocommerce-cart {
  .product-name .variation {
    @apply flex items-center gap-1 mb-3;
    dt {
      @apply hidden;
    }

    p {
      @apply text-12 text-black/60 m-0 p-0;
    }  
  }
}//woocommerce-mini-cart

.drawer-open .cart-popup {
  @apply transition-all duration-500 opacity-100 visible ease-in-out transform translate-x-0;
}


.free-delivery-bar--cart {
  @apply  flex flex-col gap-1 items-center justify-center content-center pt-1 pb-2 px-4;
  p {
    @apply text-14 text-green text-center my-1;
    span {
      @apply font-bold;
    }
  }
  .bar-body {
    @apply bg-green/20 w-full  h-2 rounded-xl overflow-hidden relative;
    span {
      @apply absolute top-0 left-0 bottom-0 inline-block bg-green rounded-xl;
    }
  }
}

.zah-empty-mini-cart {
  @apply flex flex-col py-20 px-20 justify-center items-center w-full border-t border-black/10;
}

.zah-empty-mini-cart h4 {
  @apply text-center text-black/60 font-semibold text-18 pb-6;
}

.zah-empty-mini-cart .empty-cart-categories {
  @apply w-full  mb-4;
  li {
    @apply w-full;
  }
}

.woocommerce-mini-cart__empty-message {
  @apply hidden;
}

.cart-popup .announce-bar {
  @apply -mx-4 mb-2 bg-gray;
  ul {
    @apply animate-marquee;
    li {
      @apply text-black;
      p {
        @apply text-black;
      }
    }
  }
}

.cart-popup .cross-sells {
  @apply before:hidden after:hidden relative m-0 w-full lg:w-[260px] rounded-md lg:rounded-none lg:fixed lg:top-0 lg:bottom-0 lg:right-[480px] py-2 lg:px-0 lg:py-4 lg:overflow-y-auto  transition-all duration-200;
  h2 {
    @apply text-15 before:hidden lg:p-0 lg:m-0 mb-3;
  }

  .products {
    @apply flex-nowrap flex-row lg:flex-col;
    .product {
      @apply mx-4 my-2;
    }
  }

  .woocommerce-loop-product__title {
    @apply text-clip text-15 whitespace-normal;
  }

  .woocommerce-LoopProduct-link {
    @apply pt-2 px-2;
    img {
      @apply max-w-[140px];
    }
  }

  .cart-products-slider {
    @apply  px-4 lg:p-4 lg:pr-6 lg:overflow-visible;
    .swiper-wrapper {
      @apply lg:flex lg:flex-col lg:gap-4 ;
    }
    .swiper-slide {
      @apply lg:h-auto;
    }
    .swiper-button-prev,
    .swiper-button-next,
    .swiper-pagination {
      @apply lg:hidden;
    }
    .product {
      @apply md:mb-0 md:pb-2 before:hidden hover:before:hidden hover:pb-0;
      .button {
        @apply opacity-100 visible relative left-auto right-auto bottom-auto;
      }
    }
  }
}//cross-sells

.cart-popup.active .cross-sells {
  @apply transition-all duration-300 opacity-100 visible ease-in-out transform translate-x-0  delay-100;
}

.quick-view-modal {
  @apply fixed right-0 top-0 bottom-0 z-100 opacity-0 invisible bg-white shadow-lg transform translate-x-[100%] transition-all duration-200 w-[96%] md:w-[480px];
  &.active {
    @apply transition-all duration-200 opacity-100 visible transform translate-x-0;
  }
}



#ajax-loading {
	position: absolute;
    z-index: 100;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
}

.zah-loader {
	display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.spinner {
    width: 38px;
    height: 38px;
    border: 1px solid #ccc;
    border-bottom-color: #111;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 0.8s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
