.woocommerce-message {
  @apply bg-green/20 text-green rounded py-1 px-4 text-15;
  a {
    @apply font-bold underline hover:no-underline;
  }
}

.woocommerce-error {
  @apply mt-4;
  li {
    @apply bg-main/20 text-main rounded py-1 px-4 text-15;
  }
}

.cart-contents {
  @apply flex relative;
}

.cart-contents svg {
  @apply w-[32px] min-w-[32px] h-[32px];
}

.cart-contents .count {
  @apply text-12 font-semibold text-white bg-main w-[18px] h-[18px] rounded-full absolute bottom-0 -right-[8px] flex items-center content-center justify-center;
  .amount {
    @apply hidden;
  }
}

.single-product .price .woocommerce-Price-amount.amount bdi,
.single-product .price ins .woocommerce-Price-amount.amount bdi,
.single-product .price ins  {
  @apply text-main no-underline font-bold text-14 md:text-17;
}

.single-product .price del .woocommerce-Price-amount.amount bdi,
.single-product .price del {
  @apply opacity-70 text-14 md:text-base font-medium text-main;
}

.icon-white  {
  @apply text-white;
}

.archive .main .container {
  @apply flex flex-col mb-10;
}

.woocommerce-notices-wrapper a {
  @apply mr-4 mb-6;
}

#breadcrumbs span {
  @apply flex items-center justify-start flex-wrap md:flex-nowrap py-1 md:py-2 gap-0.5 md:gap-1 px-0;
}

.woocommerce-tabs {
  @apply  mt-10 mb-4 mx-auto;
}

#breadcrumbs {
  @apply mt-4 mb-4 mx-auto;
}

#breadcrumbs span {
  @apply text-12 leading-4 capitalize text-black/40
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    opacity: 1;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

// .quantity-inner {
//   @apply flex justify-between items-center py-2 md:py-3.5 px-2 gap-2 bg-white border border-black/30 rounded-md relative;
// }

// // .quantity {
// //   @apply flex justify-between items-center py-3.5 px-4 gap-2 bg-white border border-black/30 rounded-md relative;
// // }

// .quantity input {
//   @apply bg-transparent border-none w-full min-w-[36px] text-center;
// }

// .quantity-inner .plus,
// .quantity-inner .minus {
//   @apply text-center text-18 min-w-[28px] w-[28px] cursor-pointer hover:text-main  hover:scale-95 transition-all duration-150;
// }

// .quantity .screen-reader-text {
//   @apply hidden;
// }


.required {
  @apply text-main no-underline border-b-0;
}

.form-row {
  @apply mb-4 relative flex flex-col;
  label {
    @apply font-semibold text-14 text-black/90 mb-1 block;
  }
  .woocommerce-input-wrapper {
    @apply block;
    .select2-container--default .select2-selection--single .select2-selection__arrow {
      @apply w-[20px] h-[38px] absolute top-[1px] right-[5px]
  }
    .select2 .select2-selection {
      @apply h-10 rounded border border-black/20;
      .select2-selection__rendered  {
        @apply w-full text-base h-10 leading-10 py-0 px-2;
      }
    }
  }

  input.input-text  {
    @apply w-full py-0 px-2 h-10 leading-10 text-base rounded border border-black/20;
  }

  select {
    @apply w-full py-0 px-2 h-10 leading-10 text-base rounded border border-black/20;
  }

  textarea {
    @apply w-full py-2 px-2 h-10 leading-relaxed md:leading-6 text-base rounded border border-black/20 min-h-[90px];
  }
}


.woocommerce-checkout-payment {
  .button.alt {
    @apply bg-main border-main text-white hover:bg-button-hover uppercase hover:border-button-hover hover:shadow-md hover:shadow-main/20;
  }

}
