.half-section {
  @apply py-8 md:py-24 px-6 md:px-10 flex flex-row;
  &.right {
    @apply items-center justify-end;
  }

  &.left {
    @apply items-center justify-start;
  }

  .content {
    @apply bg-black/60 p-6 md:p-10 rounded flex flex-col justify-start items-start max-w-xl text-white;
    h2 {
      @apply text-white text-32 md:text-36 text-left font-bold mb-2 uppercase;
    }
    .text {
      p {
        @apply text-white text-left;
      }
    }
  }
}//half-section
